@page "/"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<PageTitle>Home</PageTitle>

<h1>Bienvenue sur GameOnTonight</h1>

<p>Vous êtes connecté et pouvez accéder au contenu protégé de l'application.</p>
